<!DOCTYPE html>
<html>
<head>
  <title>Face3</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user -%>
  ようこそ、<%= current_user.nickname %>さん。 | <%= link_to 'logout', logout_path %>
<% else -%>
  <%= link_to 'Facebookでログイン', 'auth/facebook' %>
<% end -%>

<%= yield %>

</body>
</html>
